body {
  background-color: #123;
  color: #fff;
}

.container {
  display: flex;
  height: 100%;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 15px;
}

.refresh-btn {
  padding: 10px 30px;
  color: #123;
  font-weight: 600;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  margin-bottom: 50px;
}

.win-status {
  margin-top: 15px;
}

.game-container {
  height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-wrapper {
  width: 300px;
}

.board {
  display: grid;
  border: 2px solid #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}

.result {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

.result.green {
  color: rgb(70, 201, 70);
}

.result.red {
  color: rgb(156, 41, 41);
}

@media screen and (max-width: 750px) {
  .container {
    display: block;
  }

  .game-container {
    height: 100%;
  }

  .game-wrapper {
    width: 210px;
  }

  .square {
    width: 70px;
    height: 70px;
  }
}
